*{
    margin: 0;
}

header{
    width: 100%;

    img{
        height: 35px;
    }

    .navbar{
        .collapse{
            a{
                margin-right: 25px;
            }
            .search{
                margin: 5px;
                height: 20px;
            }
            .form-inline{
                margin-right: 10px;
            }

            .account{
                overflow: hidden;

                img{
                    transition: 1s;
                }
                img:hover {
                    transform: scale(1.5);
                }
            }
        }

        
    }
}

main{
    background: rgb(53,58,63);
    background: linear-gradient(180deg, rgba(53,58,63,1) 0%, rgba(0,0,0,1) 100%);
    display: flex;

    img{
       width: 100%;
       border-radius: 15px;
       height: auto;
    }


    .info{
        display: flex;
        flex-wrap: wrap;
    

        .col1{
        flex: 3;
        min-width: 400px;
        margin: 50px;
        padding: 20px;
        padding-right: 50px;
        padding-top: 50px;
        text-align: left;
        background-color: rgb(53,58,63);
        border-radius: 15px;

        ul{
            color: white;
            font-size: 17px;
            li{
                list-style-type: none;
                padding-bottom: 10px;

                img{
                    height: 15px;
                    width: auto;
                }
            }
        }
        }

        .col2{
        flex: 7;
        min-width: 600px;
        padding: 50px;
        

        p{
            font-size: 17px;
            color: white;
            padding-bottom: 20px;
        }

        iframe{
            width: 100%;
            height: 500px;
        }
        }
    }

    h1{
        color: white;
        margin-top: 30px;
        padding-left: 50px;
        text-align: left;
        font-size: 25px;
    }
    hr{
        background-color: white;
        width: 95%;
        margin-bottom: 50px;
        margin-left: 2%;
        opacity: 0.3;
    }

  .reviews {
    margin: 50px;
    overflow: auto;
    white-space: nowrap;

    a{
    display: inline-block;
    text-decoration: none;
    background-color: rgb(53,58,63);
    color: white;
    margin: 15px;
    border-radius: 10px;
    padding: 15px;
    // animation: run 10s infinite;

    // @keyframes run {
    // 0% { margin-left: 100%;}
    // 25%{margin-left: 0%;}
    // 65%{margin-left: 0%;}
    // 100%{ margin-left: -100%;}
    // }

        img{
            border-radius: 10px;
            margin-right: 20px;
            width: 50px;
            height: auto;
            float: left;
        }
        
        h2{
            color: white;
            margin:30px;
            text-align: left;
            font-size: 20px;
            margin-top: 10px;
        }

        p{
            opacity: 0.5;
            margin: 5px;
            text-align: left;
        }
    }
}
}
.new {
    padding-left: 50px;
    overflow: auto;
    white-space: nowrap;

    a{
        display: inline-block;
        text-decoration: none;
        color: white;
        border-radius: 10px;
        padding: 15px;

        img{
            border-radius: 10px;
            width: 400px;
            height: auto;
        }
        
        h2{
            color: white;
            margin: 5px;
            text-align: left;
            font-size: 20px;
            margin-top: 10px;
        }

        p{
            opacity: 0.5;
            margin: 5px;
            text-align: left;
        }
    }

    a:hover {
        background-color: rgb(50, 121, 187);
        text-decoration: none;
        color: white;
    }
}
    
footer{
    display: flex;
    color: white;
    padding: 50px;
    background: rgb(53,58,63);
    background: linear-gradient(0deg, rgba(53,58,63,1) 61%, rgba(0,0,0,1) 100%);

    
    .foot{
        display: flex;
        flex-wrap: wrap;
    
        .col{
        flex: 1;
        margin: 7px;
        padding: 30px;
        min-width: 400px;
        background-color: rgb(53,58,63);
        border-radius: 15px;
        justify-content: space-between;

        ul{
            color: white;
            font-size: 17px;

            p{
                font-size: 20px;
                font-weight: bold;
                text-align: center;
            }
            li{
                list-style-type: none;
                padding-bottom: 10px;

                img{
                    height: 15px;
                    width: auto;
                }
            }
        }

        h1{
            color: white;
            font-size: 20px;
            font-weight: bold;
            text-align: center;

        }

        a{
            color: white;
            font-size: 30px;
            text-decoration: none;
            opacity: 0.5;
        }

        p{
            color: white;
            font-size: 24px;

            &.qa{
                color: white;
                font-size: 15px;
                opacity: 0.5; 
            }
        }

        div{
            display: flex;
            text-align: center;
            justify-content: center;
            padding-bottom: 20px;

            .social{
                height: 60px;
                width: 60px;
                margin: 10px;
                margin-right: 20px;
                border-radius: 30px;
                padding: 15px;
                overflow: hidden;

                img{
                    transition: 1s;
                    height: 30px;
                }
                img:hover {
                    transform: scale(1.3);
                }
                
            }
            .fb{
                background-color: grey;
            }
            .fb:hover{
                background-color: rgb(79, 110, 177);

            }

            .teleg{
                background-color: grey;
            }
            .teleg:hover{
                background-color: rgb(81, 170, 221);

            }

            .viber{
                background-color: grey;
            }
            .viber:hover{
                background-color: rgb(142, 103, 170);

            }
        }

        .map{
            width: 100%;
            margin-top: 20px;
            border-radius: 15px;
        }
        }
    }
}